:root {
    --bg-color: #035E33;
    --text: #fff;
    --text-hover: yellow;
    --header-text: #001AFF;
    --icon-bg: #fff;
    --icon-text: black;
    --icon-notification-bg: black;
    --banner-bg-color: #ecf7ee;
    --border: black;
    --sub-text: #1D632B;
    --Button-hover: white;
    --star: #ff5e1a;
    --th-bg: #f2f2f2;
    --tr-hover: #e9e9e9;
    --tr-even: #f9f9f9;
    --input-box: #ccc;
    --product-icon: #dedada;
    --price: #A80000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 100%;
    height: 115px;
    margin: auto;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

/* company logo */
.logo img {
    max-width: 180px;
    max-height: 90px;
}

/* navbar */
.navbar ul {
    list-style: none;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 3px 10px;
    margin: 0 15px;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--text);
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

/* navbar and active web hover */
.menu li a:hover,
.menu .active {
    color: var(--text-hover);
    transition: all ease 0.3s;
}

/* right nav */
.right_nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
}

.right_nav a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color: var(--icon-bg);
    color: var(--icon-text);
    box-shadow: 1px 1px;
    transition: 1s;
}

.right_nav a:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* icon notification count */
.right_nav a span {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text);
    font-size: 0.8rem;
    background-color: var(--icon-notification-bg);
}

/* search bar */
.search_bar {
    display: none;
    position: absolute;
    top: 125px;
    right: 5%;
    background-color: var(--icon-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}

.search_bar input[type="text"] {
    width: 350px;
    padding: 5px;
    border: none;
    outline: none;
}

.search_bar button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}

.right_nav .side_menu {
    display: none;
}


/* main-banner */
.main_banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-color: var(--banner-bg-color);
    position: relative; 
    overflow: hidden;
    padding: 3%;
    justify-content: center;
    margin-bottom: 15px;
}

.main_banner_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.main_banner_text h1 {
    font-size: 3em;
    color: var(--header-text);
    line-height: 60px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

.main_banner_text strong {
    font-size: 1.4em;
    font-family: "Poetsen One", sans-serif;
    color: var(--sub-text);
    text-align: center;
    font-weight: 400;
    padding: 15px;
}

.main_banner_img {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main_banner_img img {
    width: fit-content;
    max-width: 100%;
}


/* vegetable products */
.title h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.products {
    display: grid; 
    width: 90%;
    margin: 3% 5%;  
    overflow-x: auto; 
}

/* product container */
.products .box_container{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}

/* product cart */ 
.products .box_container .box {
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    border: 2px solid var(--border);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-color: var(--banner-bg-color);
    margin-right: 30px;
}


/* product cart img */
.products .box_container .box img{
    width: 300px;
    height: 300px;
    padding: 50px;
}

/* product cart discount */
.products .box_container .box .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--icon-bg);
    color: var(--sub-text);
    padding: 10px;
    font-size: 1em;
    border-radius: 30px;
}

/* product cart icons */
.products .box_container .box .icons {
    position: absolute;
    top: 3px;
    right: 10px;
}

/* product cart icons hyper links */
.products .box_container .box .icons a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    color: var(--icon-text);
    background-color: var(--product-icon);
    border-radius: 50%;
    margin-top: 10px;
}

.products .box_container .box .icons a:hover{
    background-color: var(--sub-text);
    color: var(--text);
}

.products .box_container .box h3, .namespan {
    font-size: 1.2em;
    font-weight: 600;
}

/* product stars */
.products .box_container .box .stars {
    color: var(--star);
    padding: 5px;
}

/* product cart price */
.products .box_container .box .price {
    font-size: 1.2em;
    color: var(--price);
    padding: 5px;
} 

/* product cart quantity */
.products .box_container .box .quantity  {
    padding-bottom: 18px;
}

.pquantity {
    border: 1px solid var(--border);
    padding: 0;
    color: var(--icon-text);
    width: 60px;
    border-radius: 3px;
}

/* product cart btn */
.products .box_container .box .btn {
    background-color: var(--icon-bg);
    color: var(--icon-text);
    font-size: 1em;
    font-weight: 400;
    padding: 8px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}

.products .box_container .box .btn:hover {
    background-color: var(--sub-text);
    color: var(--text);
}


/* container */
.container {
    max-width: 90%;
    height: auto;
    border-radius: 30px;
    background-color: var(--banner-bg-color);
    margin: 3% 5%;
    position: relative; 
    overflow: hidden;
    padding: 2%;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

/* circle shape  */
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

/* first circle  */
.shape:first-child {
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

/* last circle  */
.shape:last-child {
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -70px;
    bottom: -80px;
}

.table_background {
    width: 400px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(244, 237, 237, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 30px 20px 30px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

/* table styles */
table * {
    font-family: 'Poppins',sans-serif;
    color: var(--icon-text);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

/* table th styles */
table th {
    font-size: 2em;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    text-align: center;
} 

/* table body */
tbody {
    display: block;
    height: 360px;
    overflow-y: auto;
    width: 100%;
}

/* cart image */
table td img {
    max-width: 100px;
    height: 100px;
    margin: 6px;
    padding: 4px;
}

/* item details */
.cart_info {
    margin: 6px;
    padding: 4px;
}

.cart_info h4 {
    font-size: 1em;
    color: var(--header-text);
}

.cart_info span {
    font-size: 0.9em;
}

.cart_quantity {
    background-color: var(--banner-bg-color);
    width: 50px;
    height: 28px;
    padding: 3px 5px 4px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    border: none;
}

/* trash icon for remove the items form csrt  */
.remove_item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: 1s;
    background-color: var(--icon-bg);
    color: var(--icon-text);
    margin: 10px;
    padding: 10px; 
}


/* total of cart product */
.total { 
    border-top: 1px solid var(--border);
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-weight: 600;
}

.total_price {
    color: var(--price);
}

/* buy now btn */
.buy_now {
    margin-top: 8px;
    width: 100%;
    background-color: var(--icon-bg);
    color: var(--icon-text);
    padding: 15px 0;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.buy_now a {
    color: var(--icon-text);
}

.buy_now:hover,
.addto:hover, 
.apply:hover {
    background-color: rgba(228, 228, 228, 0.54);
}

.cart_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.addto, .apply {
    width: 100%;
    background-color: var(--icon-bg);
    color: var(--icon-text);
    padding: 12px 4px;
    margin: 8px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}


/* back to tp button  */
.back_to_top {
    position: fixed;
    bottom: 32px;
    right: 1%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--banner-bg-color);
    color: var(--icon-text);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.back_to_top i {
    font-size: 1.1em;
}

.back_to_top:hover {
    color: var(--text);
    background-color: var(--bg-color);
}



/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
    margin: auto;
    background-color: var(--bg-color);
}

/* company logo */
.company_logo {   
    justify-content: left;
}

.company_logo img {
    max-width: 180px;
    max-height: 90px;
    transition: 1s;
}

/* company logo hover*/
.company_logo img:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* company info */
.details {
    padding: 6px;
}

.details p {
    color: var(--text);
    font-weight: 500;
    padding: 3px;
}

.footer_middle {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
}

/* payment_methods */
.payment_methods {
    color: var(--text);
    font-weight: 500;
}

/* payment_methods - cards */
.cards {
    padding: 8px;
}

/* card img */
.cards img {
    max-width: 60px;
    height: auto;
    border-radius: 10px;
    padding: 3px;
    transition: 1s;
}

/* card img hover */
.cards img:hover {
    transform: scale(1.2);
    z-index: 1;
}

/* copy_right */
.copy_right p {
    color: var(--text);
    font-weight: 500;
}

/* social logo  */
.social_logo {
    display: grid;
    padding: 8px;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.social_logo a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: 1s;
}

/* social logo hover */
.social_logo a:hover {
    transform: scale(1.2);
    z-index: 1;
}

.social_logo .facebook, .twitter, .instagram {
    background-color: var(--icon-bg);
    color: var(--icon-text);
    box-shadow: 1px 1px;
}

.footer_right {
    display: flex;
    flex-direction: row;
}

/* quick_links */
.quick_links {
    padding-right: 30px;
}

.quick_links h4, .categories h4 {
    font-weight: 600;
    color: var(--text-hover);
    margin: 3px;
}

.quick_links p, .categories p{
    font-weight: 500;
    font-size: 0.85em;
    color: var(--text); 
    padding: 1px 2px;   
}

/* categories */
.categories {
    padding-left: 15px;
}



/* media queries */
@media screen and (max-width: 1100px) and (min-width: 950px){

    /* header */
    .navigation {
        padding: 10px 50px;
    }
    /* navbar */
    .menu li a {
        margin: 0 3px;
        font-size: 1em;
    }


    .main_banner {
        height: 500px;
    }


    /* footer */
    .footer {
        justify-content: space-around;
        padding: 1% 5%
    } 
    /* company info */
    .details {
        padding: 4px;
        font-size: 0.85em;
    }
    .footer_middle {
        padding: 10px;
        text-align: center;
    }    
    /* card img */
    .cards img {
        max-width: 50px;
    }
    .social_logo a {
        width: 35px;
        height: 35px;
    }
    /* quick_links */
    .quick_links {
        padding: 5px;
    }
    /* categories */
    .categories {
        padding: 5px;
    }
}


/* media queries */
@media screen and (max-width: 950px) and (min-width: 750px){

    /* header */ 
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 116px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 125px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }


    /* main-banner */
    .main_banner {
        height: 400px;
    }


    /* footer */
    .footer {
        justify-content: space-around;
        padding: 10px 50px
    } 
    /* company info */
    .details {
        padding: 4px;
        font-size: 0.8em;
    }
    .footer_middle {
        padding: 8px;
        text-align: center;
        font-size: 0.9em;
    }    
    /* card img */
    .cards img {
        max-width: 50px;
    }
    .social_logo a {
        width: 35px;
        height: 35px;
    }
    /* quick_links */
    .quick_links {
        padding: 5px;
        font-size: 0.85em;
    }
    /* categories */
    .categories {
        padding: 5px;
        font-size: 0.85em;
    }
}


/* media queries */
@media screen and (max-width: 750px) and (min-width: 550px){

    /* header */
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 116px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 125px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }

    
    /* main-banner */
    .main_banner {
        height: 400px;
    }
    .main_banner_text h1 {
        font-size: 2.5em;
    }
    .main_banner_text strong {
        font-size: 1.2em;
    }


    /* footer */
    .footer {
        display: inline-block;
        padding: 1% 5%;
        max-width: 100%;
    }    
    /* footer left  */
    .footer_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* company info */
    .details p {
        padding: 0px;
        text-align: center;
        font-size: 0.9em;
    }
    .footer_middle {
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
    }
    /* payment_methods */
    .payment_methods {
        display: none;
    }
    /* copy_right */
    .copy_right p {
        text-align: center;
    }
    .footer_right {
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
}


/* media queries */
@media screen and (max-width: 550px) {

    /* header */
    .navigation {
        flex-direction: column;
        height: 175px;
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 176px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 185px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
        margin-bottom: 0;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    
    
    /* main-banner */
    .main_banner {
        display: block;
        width: 100%;
        height: 540px;
        padding: 3%;
    }
    .main_banner_text {
        width: 100%;
        padding: 30px 5px 5px 5px;
    }
    .main_banner_text h1 {
        font-size: 2.7em;
    }
    .main_banner_text strong {
        font-size: 1.1em;
    }
    .main_banner_img {
        width: 100%;
        padding: 5px;
        top: -35px;
    }
    .main_banner_img img {
        width: fit-content;
        max-width: 100%;
    }


    /* product cart */ 
    .products .box_container .box {
        width: 300px;
        height: 495px;
        padding: 10px;
        margin-bottom: 1%;
    }
    /* product cart img */
    .products .box_container .box img{
        width: 250px;
        height: 250px;
        padding: 50px;
    }
    .products .box_container .box .quantity {
        padding-bottom: 10px;
    }


    .title h1 {
        font-size: 1.7em;
    }
    /* container */
    .container {
        height: 650px;
        margin: 5%;
    }
    .background .shape {
        width: 100px;
        height: 100px;
    }
    /* first circle  */
    .shape:first-child {
        left: 30px;
        top: -40px;
    }
    /* last circle  */
    .shape:last-child {
        right: 30px;
        bottom: -40px;
    }
    .table_background {
        width: 300px;
        height: 540px;
        padding: 30px 20px;
        margin: 0;
    }    
    /* table th styles */
    table th {
        font-size: 1.8em;
        padding: 2px;
    } 
    /* table body */
    tbody {
        height: 300px;
    }
    /* cart image */
    table td img {
        max-width: 70px;
        height: 70px;
        margin: 2px;
    }
    .cart_info h4 {
        font-size: 0.85em;
    }
    .cart_info span {
        font-size: 0.75em;
    }
    .cart_quantity {
        font-size: 0.75em;
    }
    /* trash icon  */
    .remove_item {
        width: 30px;
        height: 30px;
        margin: 4px;
        padding: 4px; 
    }
    /* total of cart product */
    .total { 
        font-size: 0.9em;
        padding: 8px;
    }
    /* buy now btn */
    .buy_now {
        margin-top: 6px;
        font-size: 1.1em;
        padding: 12px 0;
    }
    .cart_button {
        width: 95%;
    }
    .addto, .apply {
        font-size: 0.8em;
        padding: 10px 4px;
        margin: 5px;
    }


    /* footer */
    .footer {
        display: inline-block;
        padding: 10px 30px;
        max-width: 100%;
    }    
    /* footer left  */
    .footer_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* company info */
    .details p {
        padding: 0px;
        text-align: center;
        font-size: 0.9em;
    }
    .footer_middle {
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
    }
    /* payment_methods */
    .payment_methods {
        display: none;
    }
    /* copy_right */
    .copy_right p {
        text-align: center;
    }
    .footer_right {
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
}

