:root {
    --bg-color: #03A65A;
    --text: #fff;
    --text-hover: yellow;
    --header-text: #001AFF;
    --icon-bg: #fff;
    --icon-text: black;
    --icon-notification-bg: black;
    --banner-bg-color: #ecf7ee;
    --border: black;
    --sub-text: #3ac253;
    --Button-hover: white;
    --star: #ff5e1a;
    --th-bg: #f2f2f2;
    --tr-hover: #e9e9e9;
    --tr-even: #f9f9f9;
    --input-box: #ccc;
    --product-icon: #dedada;
    --price: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 100%;
    height: 115px;
    margin: auto;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

/* company logo */
.logo img {
    max-width: 180px;
    max-height: 90px;
}

/* navbar */
.navbar ul {
    list-style: none;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 3px 10px;
    margin: 0 15px;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--text);
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

/* navbar and active web hover */
.menu li a:hover,
.menu .active {
    color: var(--text-hover);
    transition: all ease 0.3s;
}

/* right nav */
.right_nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
}

.right_nav a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color: var(--icon-bg);
    color: var(--icon-text);
    box-shadow: 1px 1px;
    transition: 1s;
}

.right_nav a:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* icon notification count */
.right_nav a span {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text);
    font-size: 0.8rem;
    background-color: var(--icon-notification-bg);
}

/* search bar */
.search_bar {
    display: none;
    position: absolute;
    top: 125px;
    right: 5%;
    background-color: var(--icon-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}

.search_bar input[type="text"] {
    width: 350px;
    padding: 5px;
    border: none;
    outline: none;
}

.search_bar button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}

.right_nav .side_menu {
    display: none;
}



/* main-banner */ 
.main_banner {
    max-width: 90%;
    height: 600px;
    border-radius: 30px;
    margin: 3% 5%;
    background-color: var(--banner-bg-color);
    position: relative; 
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--border);
}

.main_banner_text {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom: 320px;
    margin: 15px auto;
}

/* header text  */
.main_banner_text h1 {
    font-size: 3em;
    color: var(--header-text);
    line-height: 60px;
    font-weight: 700;
    font-family: "Langar", system-ui;
    padding: 10px;
}

/* sub text  */
.main_banner_text strong {
    font-size: 1.4em;
    color: var(--sub-text);
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    padding: 10px;
}

.main_banner_text img {
    width: 90%;
}

/* info about vegetable_providers */
.title h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding: 0 20px;
}

.sub_banner {
    display: flex;
    width: 90%;
    margin: 3% 5%;
}

/* vegetable_providers text */
.vegetable_provider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 45px;
    width: 50%;
    height: 400px;
    background-color: var(--banner-bg-color);
    border-radius: 30px;
    border: 2px solid var(--border);
    margin-right: 8px;
}

.vegetable_provider h3 {
    font-size: 1.5em;
    padding-bottom: 25px;
    font-family: "Poetsen One", sans-serif;
    color: var(--header-text);
    text-align: center;
}

.vegetable_provider h4 {
    font-size: 1em;
    line-height: 25px;
    text-align: justify;
    padding-bottom: 12px;
    font-weight: 600;
}

/* vegetable_providers img */
.vegetable_provider_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    padding: 25px;
    background-color: var(--banner-bg-color);
    border-radius: 30px;
    border: 2px solid var(--border);
    position: relative;
}

.vegetable_provider_img img {
    max-width: 450px;
    border-radius: 30px;
}



/* vegetable products */
.vagetable_title h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px 0 20px;
}

.vegetable {
    display: grid; 
    width: 90%;
    margin: 3% 5%;     
}

/* product container */
.vegetable .box_container{
    display: grid; 
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}

/* product cart */
.vegetable .box_container .box {
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    border: 2px solid var(--border);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-color: var(--banner-bg-color);
}

/* product cart img */
.vegetable .box_container .box img{
    width: 300px;
    height: 300px;
    padding: 50px;
}

/* product cart discount */
.vegetable .box_container .box .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--icon-bg);
    color: var(--sub-text);
    padding: 10px;
    font-size: 1em;
    border-radius: 30px;
}

/* product cart icons */
.vegetable .box_container .box .icons {
    position: absolute;
    top: 3px;
    right: 10px;
}

/* product cart icons hyper links */
.vegetable .box_container .box .icons a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    color: var(--icon-text);
    background-color: var(--product-icon);
    border-radius: 50%;
    margin-top: 10px;
}

.vegetable .box_container .box .icons a:hover{
    background-color: var(--sub-text);
    color: var(--text);
}

.vegetable .box_container .box h3 {
    font-size: 1.2em;
    font-weight: 600;
}

/* product stars */
.vegetable .box_container .box .stars {
    color: var(--star);
    padding: 5px;
}

/* product cart price */
.vegetable .box_container .box .price {
    font-size: 1.2em;
    color: var(--price);
    padding: 5px;
} 

/* product cart quantity */
.vegetable .box_container .box .quantity  {
    padding-bottom: 18px;
}

input {
    border: 1px solid var(--border);
    padding: 0;
    color: var(--icon-text);
    width: 60px;
    border-radius: 3px;
}

/* product cart btn */
.vegetable .box_container .box .btn {
    background-color: var(--icon-bg);
    color: var(--icon-text);
    padding: 8px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.vegetable .box_container .box .btn:hover {
    background-color: var(--sub-text);
    color: var(--text);
}
 

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
    margin: auto;
    background-color: var(--bg-color);
}

/* company logo */
.company_logo {   
    justify-content: left;
}

.company_logo img {
    max-width: 180px;
    max-height: 90px;
    transition: 1s;
}

/* company logo hover*/
.company_logo img:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* company info */
.details {
    padding: 6px;
}

.details p {
    color: var(--text);
    font-weight: 500;
    padding: 3px;
}

.footer_middle {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
}

/* payment_methods */
.payment_methods {
    color: var(--text);
    font-weight: 500;
}

/* payment_methods - cards */
.cards {
    padding: 8px;
}

/* card img */
.cards img {
    max-width: 60px;
    height: auto;
    border-radius: 10px;
    padding: 3px;
    transition: 1s;
}

/* card img hover */
.cards img:hover {
    transform: scale(1.2);
    z-index: 1;
}

/* copy_right */
.copy_right p {
    color: var(--text);
    font-weight: 500;
}

/* social logo  */
.social_logo {
    display: grid;
    padding: 8px;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.social_logo a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: 1s;
}

/* social logo hover */
.social_logo a:hover {
    transform: scale(1.2);
    z-index: 1;
}

.social_logo .facebook, .twitter, .instagram {
    background-color: var(--icon-bg);
    color: var(--icon-text);
    box-shadow: 1px 1px;
}

.footer_right {
    display: flex;
    flex-direction: row;
}

/* quick_links */
.quick_links {
    padding-right: 30px;
}

.quick_links h4, .categories h4 {
    font-weight: 600;
    color: var(--text-hover);
    margin: 3px;
}

.quick_links p, .categories p{
    font-weight: 500;
    font-size: 0.85em;
    color: var(--text); 
    padding: 1px 2px;   
}

/* categories */
.categories {
    padding-left: 15px;
}


/* media queries */
@media screen and (max-width: 3000px) and (min-width: 1600px){

    .vegetable .box_container{
        display: grid; 
        grid-template-columns: auto auto auto auto;
    }
}


/* media queries */
@media screen and (max-width: 1100px) and (min-width: 950px){

    /* header */
    .navigation {
        padding: 10px 50px;
    }
    /* navbar */
    .menu li a {
        margin: 0 3px;
        font-size: 1em;
    }


    /* vegetable_providers text */
    .vegetable_provider  {
        padding: 35px;
        margin-right: 2%;
    }
    .vegetable_provider h3 {
        font-size: 1.3em;
    }
    .vegetable_provider h4 {
        font-size: 0.9em;
        line-height: 20px;;
    }
    .vegetable_provider_img img {
        width: 400px;
        height: 250px;
    }


    /* product container */
    .vegetable .box_container {
        display: grid; 
        grid-template-columns: auto auto ;
        justify-content: space-around;
    }


    /* footer */
    .footer {
        justify-content: space-around;
        padding: 1% 5%
    } 
    /* company info */
    .details {
        padding: 4px;
        font-size: 0.85em;
    }
    .footer_middle {
        padding: 10px;
        text-align: center;
    }    
    /* card img */
    .cards img {
        max-width: 50px;
    }
    .social_logo a {
        width: 35px;
        height: 35px;
    }
    /* quick_links */
    .quick_links {
        padding: 5px;
    }
    /* categories */
    .categories {
        padding: 5px;
    }
}


/* media queries */
@media screen and (max-width: 950px) and (min-width: 750px){

    /* header */ 
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 116px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 125px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }


    /* main-banner */ 
    .main_banner {
        height: 500px;
    }
    .main_banner_text img {
        width: 70%;
    }


    /* vegetable_providers text */
    .vegetable_provider {
        padding: 20px;
    }
    .vegetable_provider h3 {
        font-size: 1.2em;
        padding-bottom: 20px;
    }
    .vegetable_provider h4 {
        font-size: 0.7em;
        line-height: 20px;
    }
    .vegetable_provider_img {
        padding: 20px;
    }
    .vegetable_provider_img img {
        max-width: 400px;
        max-height: 250px;
        min-width: 200px;
    }


    /* product container */
    .vegetable .box_container {
        display: grid; 
        grid-template-columns: auto auto ;
        justify-content: space-around;
    }
    /* product cart */
    .vegetable .box_container .box  {
        padding: 10px;
    }


    /* footer */
    .footer {
        justify-content: space-around;
        padding: 10px 50px
    } 
    /* company info */
    .details {
        padding: 4px;
        font-size: 0.8em;
    }
    .footer_middle {
        padding: 8px;
        text-align: center;
        font-size: 0.9em;
    }    
    /* card img */
    .cards img {
        max-width: 50px;
    }
    .social_logo a {
        width: 35px;
        height: 35px;
    }
    /* quick_links */
    .quick_links {
        padding: 5px;
        font-size: 0.85em;
    }
    /* categories */
    .categories {
        padding: 5px;
        font-size: 0.85em;
    }
}


/* media queries */
@media screen and (max-width: 750px) and (min-width: 550px){

    /* header */
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 116px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 125px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    

    
    /* main-banner */   
    .main_banner {
        height: auto;
    }
    .main_banner_text {
        padding-bottom: 0px;
    }
    .main_banner_text strong {
        font-size: 1.2em;
    }

    

    /* info about vegetable_providers */
    .sub_banner {
        display: block;
    }
    /* vegetable_providers text */
    .vegetable_provider {
        display: block;
        padding: 30px;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 3%;
    }
    .vegetable_provider h3 {
        font-size: 1.3em;
        padding-bottom: 25px;
    }
    .vegetable_provider h4 {
        font-size: 0.9em;
        line-height: 25px;
    }
    /* vegetable_providers img */
    .vegetable_provider_img {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .vegetable_provider_img img {
        max-width: 400px;
    }


    /* product container */
    .vagetable_title h1 {
        padding: 20px 20px 20px 20px;
    }
    .vegetable .box_container {
        grid-template-columns: auto;
        justify-content: space-around;
    }
    /* product cart */
    .vegetable .box_container .box {
        margin-bottom: 5%;
    }


    /* footer */
    .footer {
        display: inline-block;
        padding: 1% 5%;
        max-width: 100%;
    }    
    /* footer left  */
    .footer_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* company info */
    .details p {
        padding: 0px;
        text-align: center;
        font-size: 0.9em;
    }
    .footer_middle {
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
    }
    /* payment_methods */
    .payment_methods {
        display: none;
    }
    /* copy_right */
    .copy_right p {
        text-align: center;
    }
    .footer_right {
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
}


/* media queries */
@media screen and (max-width: 550px) {

    /* header */
    .navigation {
        flex-direction: column;
        height: 175px;
    }
    /* menu bar */
    .menu {
        display: block;
        position: fixed;
        top: 176px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        margin: 10px 0;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: var(--text);
        text-align: center;
    }
    .right_nav {
        margin: 10px;
    }
    /* search bar */
    .search_bar {
        top: 185px;
        right: 5%;
    }
    .search_bar input[type="text"] {
        width: 270px;
    }
    .right_nav .side_menu {
        display: flex;
        text-align: center;       
    }
    

    /* main-banner */
    .main_banner {
        max-width: 90%;
        height: auto;
        margin: 5% auto;
    }
    /* main banner text  */
    .main_banner_text {
        padding-bottom: 10px;
    }
    .main_banner_text h1 {
        font-size: 2.5em;
    }
    .main_banner_text strong {
        display: none;
    }
    .main_banner_text img {
        width: 90%;
    }

    /* info about vegetable_providers */
    .sub_banner {
        display: block;
    }
    /* vegetable_providers text */
    .vegetable_provider {
        display: block;
        padding: 30px;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .vegetable_provider h3 {
        font-size: 1.2em;
        padding-bottom: 25px;
    }
    .vegetable_provider h4 {
        font-size: 0.9em;
        line-height: 25px;
    }
    /* vegetable_providers img */
    .vegetable_provider_img {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .vegetable_provider_img img {
        max-width: 250px;
    }


    /* vegetable products */
    .vegetable_title h1 {
        padding: 20px 20px 20px 20px;
    }
    .vegetable {
        margin: 5%;     
    }
    /* product container */
    .vegetable .box_container {
        grid-template-columns: auto;
        justify-content: space-around;
    }
    /* product cart */
    .vegetable .box_container .box {
        padding: 15px;
        margin-bottom: 5%;
    }
    /* product cart img */
    .vegetable .box_container .box img {
        width: 250px;
        height: 250px;
        padding: 50px;
    }


    /* footer */
    .footer {
        display: inline-block;
        padding: 10px 30px;
        max-width: 100%;
    }    
    /* footer left  */
    .footer_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* company info */
    .details p {
        padding: 0px;
        text-align: center;
        font-size: 0.9em;
    }
    .footer_middle {
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
    }
    /* payment_methods */
    .payment_methods {
        display: none;
    }
    /* copy_right */
    .copy_right p {
        text-align: center;
    }
    .footer_right {
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
}
